# all keys are optional
CF_GLOBAL_API_KEY=op://dev/cloudflare/credential
CF_ORIGIN_CA_KEY=op://dev/cloudflare/origin_ca_key
CF_ACCT_EMAIL=op://dev/cloudflare/username
CF_ACCT_ID=op://dev/cloudflare/acct_id
TEST=hello
